@import "tailwindcss";
@import "./article.css";

@custom-variant dark (&:where(.dark, .dark *));

/* Legacy Astro Code Styles */
html.dark .astro-code,
html.dark .astro-code span {
  color: var(--shiki-dark) !important;
  background-color: var(--shiki-dark-bg) !important;
}

:where(pre.astro-code) {
  border: 1px solid #eaeaea;
}

:where(.dark pre.astro-code) {
  border-width: 0;
}

