---
import { SITE_DESCRIPTION, SITE_TITLE } from "../consts";
import Layout from "../layouts/Layout.astro";

const about = await Astro.glob("../content/about/about-zh.md");
const { Content } = about[0];
---

<Layout title={SITE_TITLE} description={SITE_DESCRIPTION}>
  <div class="article-content">
    <Content />
  </div>
</Layout>
