---
import { getCollection } from "astro:content";
import Button from "../components/button.astro";
import PostPreview from "../components/post-preview.astro";
import siteConfig from "../data/site-config";
import BaseLayout from "../layouts/base-layout.astro";

const posts = await getCollection("blog");
---

<BaseLayout description={siteConfig.description} image={siteConfig.image}>
  {
    posts?.length > 0 && (
      <div class="mb-16 sm:mb-24">
        {/* <h2 class="mb-12 text-xl font-sans italic sm:mb-16 sm:text-2xl">Writing</h2> */}
        {posts.map((post) => (
          <PostPreview post={post} class="mb-10 sm:mb-12" headingLevel="h3" />
        ))}
        <div class="mt-12 sm:mt-16">
          <Button href="/blog">查看所有</Button>
        </div>
      </div>
    )
  }
</BaseLayout>
