---
import { getCollection } from "astro:content";
import Button from "../components/button.astro";
import PostPreview from "../components/post-preview.astro";
import siteConfig from "../data/site-config";
import BaseLayout from "../layouts/base-layout.astro";
import { sortItemsByDateDesc } from "../utils/data-utils";

const posts = (await getCollection("blog")).sort(sortItemsByDateDesc);
const featuredPosts = posts.filter(({ data }) => data.isFeatured);
---

<BaseLayout description={siteConfig.description} image={siteConfig.image}>
  {
    featuredPosts?.length > 0 && (
      <div class="mb-16 sm:mb-24">
        {featuredPosts.map((post) => (
          <PostPreview post={post} class="mb-10 sm:mb-12" headingLevel="h3" />
        ))}
        <div class="mt-12 sm:mt-16">
          <Button href="/blog">View All Posts</Button>
        </div>
      </div>
    )
  }
</BaseLayout>
