<div class="comments-container">
  <script
    src="https://giscus.app/client.js"
    data-repo="zhnd/blog"
    data-repo-id="MDEwOlJlcG9zaXRvcnkxMjI5ODE4MzA="
    data-category="Announcements"
    data-category-id="DIC_kwDOB1SNxs4CrN6V"
    data-mapping="pathname"
    data-strict="0"
    data-reactions-enabled="1"
    data-emit-metadata="0"
    data-input-position="bottom"
    data-theme="preferred_color_scheme"
    data-lang="zh-CN"
    data-loading="lazy"
    crossorigin="anonymous"
    async></script>
</div>
