---
import FormattedDate from "../components/FormattedDate.astro";
import Layout from "./Layout.astro";

const { title, excerpt, publishedDate } = Astro.props;
---

<Layout title={title} description={excerpt}>
  <article class="max-w-none">
    <h1
      class="mt-2 text-3xl font-medium tracking-tight text-gray-950 dark:text-white"
    >
      {title}
    </h1>
    <p class="text-sm text-gray-600 dark:text-gray-400 my-4">
      <FormattedDate date={publishedDate} />
    </p>
    <div class="space-y-4 prose prose-neutral dark:prose-invert">
      <slot />
    </div>
  </article>
</Layout>
