---
import FormattedDate from "../components/FormattedDate.astro";
import GiscusComments from "../components/GiscusComments.astro";
import type { PostMetaInfoType } from "../content.config";
import Layout from "./Layout.astro";

export interface Props {
  postMetaInfo: PostMetaInfoType;
}

const { postMetaInfo } = Astro.props;
const { title, publishedDate } = postMetaInfo;
---

<Layout postMetaInfo={postMetaInfo}>
  <article class="max-w-none">
    <h1
      class="mt-2 text-3xl font-medium tracking-tight text-gray-950 dark:text-white"
    >
      {title}
    </h1>
    <p class="text-sm text-gray-600 dark:text-gray-400 my-4">
      <FormattedDate date={publishedDate} />
    </p>
    <div class="space-y-4 article-content">
      <slot />
    </div>
  </article>

  <GiscusComments />
</Layout>
