---
import BaseHead from "../components/BaseHead.astro";
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
import { SITE_DESCRIPTION, SITE_TITLE } from "../consts";
import type { PostMetaInfoType } from "../content.config";

export interface Props {
  metaInfo?: Partial<PostMetaInfoType>;
}

const { metaInfo = {} } = Astro.props;

const postMetaInfo = {
  title: metaInfo.title ?? SITE_TITLE,
  description: metaInfo.description ?? SITE_DESCRIPTION,
  publishedDate: metaInfo.publishedDate ?? new Date(),
  tags: metaInfo.tags ?? [],
};
---

<!doctype html>
<html lang="zh" class="theme">
  <head>
    <BaseHead postMetaInfo={postMetaInfo} />
  </head>
  <body
    class="bg-white text-neutral-900 dark:bg-neutral-950 dark:text-neutral-100"
  >
    <Header />
    <main class="mx-auto max-w-[800px] px-4 sm:px-6 md:px-8 py-10">
      <slot />
    </main>
    <Footer />
  </body>
</html>
